<div id="buttons">
  <button (click)="decrement()">Decrement</button>
  <button (click)="increment()">Increment</button>
</div>

<!-- <div style="width: 200px; height: 200px;" [@divState]="state"></div>
<button (click)="onAnimate()">Animar</button> -->

<!-- <div style="width: 200px; height: 200px;" [@wildState]="wildState"></div>
<button (click)="onShrink()">Wild</button> -->

<div style="width: 200px; height: 200px; background-color: rebeccapurple;" [@list1]></div>

<!-- <ul>
  <li [@list2]>Hola soy list</li>
</ul> -->

<!-- <div style="width: 200px; height: 200px;" [@divState]="state" (@divState.start)="onAlert($event)"></div>
<br>
<div style="width: 200px; height: 200px;" [@divState]="state" (@divState.done)="onAlert($event)"></div>
<button (click)="onAnimate()">Animar</button>
<br>
<br> -->