.MiClase{
    background-color: red;
}

:root{
    --gris: #222;
    --blanco: #f8f8ff;
}

.Move {
    position: fixed;
    top: 0;
    opacity: 1;
    transition: top 0.6s ease-in-out, opacity 0.8s ease-in;
  }
  