:root{
    --gris: #444;
    --blanco: #ffffff;
    --maximun: 1200px;
}
html{
    scroll-behavior: smooth;
    margin: 0;
}
body{
    background-color: var(--blanco);
    overflow-x: hidden;
    background-color: #333;
}
img{
    max-width: 100%;
    height: auto;
}

section{
    min-height: 100vh;
    max-height: 500vh;
    text-align: center;
    font-size: 2rem;
}

h1{
    color: gainsboro;
    margin-top: 10px;
}

iframe{
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}


@media screen and (min-width: 1024px) {
    body{
        display: grid;
        grid-template-columns: 86.5% 15%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
        "main aside"
    }
    main{
        grid-area: main;
    }
    aside{
        grid-area: aside;
    }
    section{
        min-height: 100vh;
        max-height: 150vh;
        text-align: center;
        font-size: 2rem;
    }
}
  
