:root{
    --gris: #444;
    --blanco: #ffffff;
    --maximun: 1200px;
}
html{
    scroll-behavior: smooth;
    margin: 0;
}
body{
    background-color: var(--blanco);
    overflow-x: hidden;
    background-color: #333;
}
img{
    max-width: 100%;
    height: auto;
}

section{
    min-height: 100vh;
    text-align: center;
    font-size: 2rem;
}

h1{
    color: gainsboro;
    margin-top: 0;
    padding-top: 1.5rem;
}

iframe{
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}



  
