:root{
    --gris: #444;
    --blanco: #ffffff;
    --maximun: 1200px;
}
html{
    scroll-behavior: smooth;
    margin: 0;
    
}
body{
    background-color: var(--blanco);
    overflow-x: hidden;
    background-color: #333;
}
img{
    max-width: 100%;
    height: auto;
}

section{
    min-height: 100vh;
    text-align: center;
    font-size: 2rem;
}

h1{
    color: gainsboro;
}
/* section{
    padding: 2rem;
    padding-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--maximun);
   
    text-align: center;
    font-size: 2rem;
} */

















/* .Move {
    position: fixed;
    top: 0;
    opacity: 1;
    transition: top 0.6s ease-in-out, opacity 0.8s ease-in;
} */





  
